<div class="menu">
  <div class="back" (click)="clearMessage()"><i class="fa fa-chevron-left"></i> <img
    src="https://i.imgur.com/DY6gND0.png" draggable="false"/>
  </div>
  <div class="name">{{currentUser.email}}</div>
  <div class="last">{{roomDate | date:'jms'}}</div>
</div>
<ol class="chat">
  <div class="day">timeline</div>
  <ng-template ngFor let-message [ngForOf]="messageList">
    <li [ngClass]="getCurrentUser(message._email)? 'self':'other'">
      <div class="avatar"><img
        [src]="getCurrentUser(message._email)? 'https://i.imgur.com/DY6gND0.png': 'https://i.imgur.com/HYcn9xO.png'"
        draggable="false"/></div>
      <div class="msg">
        <p>{{message._text}}</p>
        <!--<p><a href="https://m.naver.com" target="parent">Naver</a></p>-->
        <time>{{message._timestamp | date:'mediumTime'}}</time>
      </div>
    </li>
  </ng-template>
</ol>
